<div class="page-wrapper">
  <div class="wrapper container-xxl px-0">
    <div class="p-4">
      <div class="d-md-flex justify-content-md-between">
        <h4 class="mb-lg-4 mb-2 fw-semibold">All Roles</h4>

      </div>
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="card">
            <div class="card-body user_list">
              <div class="d-flex justify-content-between">
                <h5 class="card-title fw-semibold">Roles:-</h5>
                <button
                  class="btn fw-bolder border border-primary mb-5"
                  (click)="createrole()"
                >
                  Create Role
                </button>
              </div>
              <table
                class="table mb-0 text-nowrap border-start border-end"
                id="basic-datatable"
              >
                <thead>
                  <tr>
                    <th>Role</th>
                    <th>Permission</th>
                    <th class="text-md-end">Action</th>
                  </tr>
                </thead>
                <tbody *ngFor="let role of roleListData">
                  <tr class="align-middle">
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="ms-3">
                          <h6 class="mb-0 fw-medium">{{ role.roleName }}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div (mouseover)="permission(role._id)"  >
                        <select name="permission"  class="form-select " aria-label="Default select example" >
                          <option class="border p-3" selected>permissions</option>
  
                          <option class="border p-3"   *ngFor="let per of permissions" [value]="">{{per}} ---->{{permissionData[per]}} </option>
                  
                        </select> 
                      </div>
                    </td>
                    <td class="text-md-end">
                      <button
                        class="text-decoration-none me-1 btn-sm list-group-item-primary text-primary"
                        (click)="updaterole(role._id)"

                      >
                      Edit
                      </button>
                      <button
                        class="text-decoration-none btn-sm list-group-item-danger text-danger"
                        [disabled]="submitted"
                        (click)="deleterole(role._id)"
                      >
                        Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
