

.drag-inner-list {
	min-height: 40px;
}
.drag-item {
	cursor: grab;
	background-color: $kanban-drag-item-bg;
	border: 1px solid $kanban-drag-item-border-color;
}
.drag-item.is-moving {
	transform: scale(1.1);
}
.gu-mirror {
	position: fixed !important;
	margin: 0 !important;
	z-index: 9999 !important;
	opacity: 0.8;
	list-style-type: none;
}
.gu-hide {
	display: none !important;
}
.gu-unselectable {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}
.gu-transit {
	opacity: 0.2;
}
.is-moved {
	.card-body {
		background: $light-300 !important;
	}
}
