<main class="d-flex">
    <div class="page-wrapper">
        <div class="wrapper container-xxl">
            		<div class="header-section">
					<div class="d-flex align-items-center justify-content-between flex-lg-grow-1 h-100">
						<div class="d-flex align-items-center top-form position-relative">
							<a class="mobile-toggle text-muted d-xl-none me-xl-0 me-3" href="#"><i class="bi bi-list fs-4 lh-base"></i></a> <a class="d-xl-none d-block me-xl-0 me-3" href="/"><img alt="Logo" class="logo" src="/assets/src/media/logo/horizon-dark.svg"></a>
							<form class="w-100 d-md-flex d-none">
								<div class="input-group">
									<span class="input-group-text bg-light border-0"><span class="w-15-p bg-light">
                                        <img class="w-15-p bg-light" src="/assets/icons/Search_Icon.svg" alt="search">
                                    </span></span> <input aria-label="Search" class="form-control form-control-solid ps-0" placeholder="Search.." type="search">
								</div>
							</form>
						</div>
						<div class="d-flex align-items-stretch flex-shrink-0">
							<div class="ml-auto">						
								<ul class="navbar-nav">
									<li class="nav-item">
										<div class="search-mobile d-md-none d-block text-end">
											<button aria-controls="offcanvasTop-search" class="btn px-3 text-muted" data-bs-target="#offcanvasTop-search" data-bs-toggle="offcanvas" type="button"><i class="bi bi-search"></i></button>
											<div aria-labelledby="offcanvasTop-search" class="offcanvas offcanvas-top h-75-p" id="offcanvasTop-search" tabindex="-1">
												<div class="offcanvas-header position-absolute end-10 translate-middle-y top-50 pe-0 me-2">
													<button aria-label="Close" class="btn-close text-reset bg-light h-25-p w-25-p fs-9 border" data-bs-dismiss="offcanvas" type="button"></button>
												</div>
												<div class="offcanvas-body pe-8 align-items-center d-flex">
													<input aria-label="Search" class="form-control form-control-solid border" placeholder="Search.." type="text">
												</div>
											</div>
										</div>
									</li>
									<li class="nav-item dropdown">
										<a aria-expanded="false" class="nav-link dropdown-toggle dropdownAnimation px-3 position-relative" data-bs-auto-close="outside" data-bs-toggle="dropdown" href="#" id="notificationDropdown" role="button"><span class="svg-icon"><svg height="18" viewbox="0 0 18 18" width="18" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.00005 18C10.2 18 11.2 17 11.2 15.8H6.80005C6.80005 17 7.80005 18 9.00005 18Z" fill="#7D8085"></path>
										<path d="M10.1 1.2C10.2 0.6 9.69995 0 9.09995 0C8.49995 0 7.89995 0.4 7.89995 1C7.89995 1.1 7.89995 1.1 7.89995 1.2C5.29995 1.8 3.39995 4.1 3.39995 6.8C3.39995 8 2.79995 13.5 1.19995 14.7H16.9C15.2 13.6 14.7 8.1 14.7 6.8C14.6 4 12.7 1.8 10.1 1.2Z" fill="#A3A6AA"></path></svg></span> <span class="position-absolute top-0 start-100 translate-middle badge rounded bg-info">&nbsp;</span></a>
										<div aria-labelledby="notificationDropdown" class="dropdown-menu py-4 dropdown-menu-end w-md-350-p-max w-md-350-p-min w-300-p-max w-300-p-min overflow-hidden">
											<div class="d-flex justify-content-between align-items-center pt-2 pb-3 px-4 mx-2">
												<h5 class="fs-5 mb-0">Notifications</h5><span class="float-end"><a class="text-dark" href="#"><small>Clear All</small></a></span>
											</div>
											<ul class="ps-0 h-300-mx-i overflow-auto">
												<li>
													<a class="dropdown-item px-4 py-3" href="javascript:;">
													<div class="px-2 d-flex align-items-top">
														<div class="rounded bg-info me-3" style="width: 8px; height: 8px; margin-top: 0.2rem;"></div>
														<div class="d-flex justify-content-between flex-grow-1">
															<div class="w-100">
																<h6 class="mb-1">New order received</h6>
																<p class="text-muted fs-7 mb-0">30 min ago</p>
															</div>
														</div>
													</div></a>
												</li>
												<li>
													<a class="dropdown-item px-4 py-3" href="javascript:;">
													<div class="px-2 d-flex align-items-top">
														<div class="rounded bg-info me-3" style="width: 8px; height: 8px; margin-top: 0.2rem;"></div>
														<div class="d-flex justify-content-between flex-grow-1">
															<div class="w-100">
																<h6 class="mb-1">Ricky Smith commented on <span>admin</span></h6>
																<p class="text-muted mb-1 fs-7 text-truncate text-wrap">Hi, How are you? What about our next meeting</p>
																<p class="text-muted fs-7 mb-0">5 hours ago</p>
															</div>
														</div>
													</div></a>
												</li>
											</ul>
										</div>
									</li>
									<li class="nav-item dropdown">
										<a aria-expanded="false" class="nav-link dropdown-toggle px-3 position-relative" data-bs-auto-close="outside" data-bs-toggle="dropdown" href="#" id="dropdown-profile" role="button"><img alt="user" class="w-30-p rounded-circle" src="/assets/src/media/avatar/avatar-1.jpg"> <span class="user-name ms-2 d-lg-inline-block d-none fw-semibold">Hi {{userData?.name}}</span></a>
										<div aria-labelledby="dropdown-profile" class="dropdown-menu dropdown-menu-end w-md-350-p-max w-md-350-p-min w-300-p-mx w-300-p-min p-0 overflow-hidden">
											<ul class="ps-0 h-300-mx-i overflow-auto">
												<li>
													<div class="p-4 border-bottom">
														<div class="d-flex align-items-center p-2">
															<div class="me-4">
																<img alt="user" class="w-70-p rounded-circle" src="/assets/src/media/avatar/avatar-1.jpg"> <i class="bg-success"></i>
															</div>
															<div class="d-flex flex-column">
																<h5 class="mb-0 fw-semibold">{{userData?.name}}</h5>
																<p class="text-muted mt-2 mb-1">UI/UX Designer</p>
																<p class="fs-7 mb-0">ricky.smith@gmail.com</p>
															</div>
														</div>
													</div>
												</li>
											</ul>
											<div class="px-4 py-3">
												<ul class="d-flex justify-content-between list-unstyled list-inline">
													<li class="list-inline-item"><button class="btn btn-primary btn-sm" type="button" (click)="profilevisit()" >My Profile</button></li>
													<li class="list-inline-item"><button class="btn btn-primary btn-sm" type="button" (click)="logout()">Logout</button></li>
												</ul>
											</div>
										</div>
									</li>
									<li class="nav-item dropdown">
										<a aria-expanded="false" class="nav-link dropdown-toggle dropdownAnimation px-3 position-relative" data-bs-auto-close="outside" data-bs-toggle="dropdown" href="#" id="messageDropdown" role="button"><span class="svg-icon"><img src="/assets/icons/email.png" class="svg-icon" alt=""></span> <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">99+ </span></a>
										<div aria-labelledby="messageDropdown" class="dropdown-menu py-4 dropdown-menu-end w-md-400-p-max w-md-400-p-min w-300-p-max w-300-p-min overflow-hidden">
											<div class="d-flex justify-content-between align-items-center px-4 pb-3 pt-1 mx-2">
												<h5 class="fs-5 mb-0">New Messages</h5><a class="text-dark" href="#"><small>Clear All</small></a>
											</div>
											<ul class="ps-0 h-300-mx-i overflow-auto">
												<li>
													<a class="dropdown-item px-4 py-3" href="javascript:;">
													<div class="d-flex align-items-center px-2">
														<img alt="user" class="w-40-p rounded-circle me-3" src="/assets/src/media/avatar/avatar-1.jpg">
														<div class="w-100">
															<div class="d-flex justify-content-between flex-grow-1">
																<h6 class="mb-1 fw-semibold">{{userData?.name}}</h6>
																<p class="text-muted fs-8 mb-0">2 min ago</p>
															</div>
															<p class="text-muted mb-0 fs-7 text-wrap">Project status of design and development</p>
														</div>
													</div></a>
												</li>
												<li>
													<a class="dropdown-item px-4 py-3" href="javascript:;">
													<div class="d-flex align-items-center px-2">
														<img alt="user" class="w-40-p rounded-circle me-3" src="/assets/src/media/avatar/avatar-3.jpg">
														<div class="w-100">
															<div class="d-flex justify-content-between flex-grow-1">
																<h6 class="mb-1 fw-semibold">Elex Johnson</h6>
																<p class="text-muted fs-8 mb-0">5 min ago</p>
															</div>
															<p class="text-muted mb-0 fs-7 text-wrap">Development issues have fixed</p>
														</div>
													</div></a>
												</li>
												<li>
													<a class="dropdown-item px-4 py-3" href="javascript:;">
													<div class="d-flex align-items-center px-2">
														<img alt="user" class="w-40-p rounded-circle me-3" src="/assets/src/media/avatar/avatar-2.jpg">
														<div class="w-100">
															<div class="d-flex justify-content-between flex-grow-1">
																<h6 class="mb-1 fw-semibold">Shira Maxwell</h6>
																<p class="text-muted fs-8 mb-0">10 min ago</p>
															</div>
															<p class="text-muted mb-0 fs-7 text-wrap">Created new figma design</p>
														</div>
													</div></a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

        </div>

    </div>

</main>