<div class="page-wrapper">
  <div class="right-content"></div>

  <div class="wrapper container-xxl px-0">
    <div class="p-4">
      <div class="d-md-flex justify-content-md-between">
        <h4 class="mb-lg-4 mb-2 fw-semibold">Users List</h4>
      </div>
      <div></div>
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="card">
            <div class="card-body user_list">
              <h5 class="card-title fw-semibold">List</h5>
          <form action="">
            <table
            class="table mb-0 text-nowrap border-start border-end"
            id="basic-datatable"
          >
            <thead>
              <tr>
                <th>Permissions</th>
                <th>Role</th>

                
              </tr>
            </thead>
            <tbody>
              <tr class="align-middle">
                <td >
                  <div class="d-flex align-items-center" *ngFor="let per of permissions">
                    <div class="ms-3">
                      <h6 class="mb-0 fw-medium">{{per}}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div>
                    <input type="checkbox" >
                  </div>
                </td>


              </tr>
            </tbody>
          </table>
          </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
