<div class="page-wrapper">
  <div class="right-content"></div>

  <div class="wrapper container-xxl px-0">
    <div class="p-4">
      <div class="d-md-flex justify-content-md-between"></div>
      <div></div>
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="card">
            <div class="card-body user_list">
              <h5 class="card-title fw-semibold">Permissions List</h5>



              <form #updateroleform="ngForm"
              (ngSubmit)="roleUpdate(updateroleform)" class="d-flex flex-column">
                <div class="" *ngFor="let per of permissions">
                  <label for="roleName" class="form-label fw-medium mb-2">{{per}}</label>
                  <input class="float-right align-self-end" type="checkbox" name={{per}}
                  checked [ngModel]="false" ngModel  > 
               </div>
              
                  <div class="mt-4">
                    <button class="btn btn-primary w-100" [disabled]="submitted">
                      Update Role
                    </button>
                  </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
