<main class="d-flex" >
    <nav class="sidebar">
        <div class="sidebar-header">
            <a class="sidebar-brand" href="index.html"><img alt="Logo" class="logo" src="/assets/src/media/logo/horizon.svg"></a>
            <div class="sidebar-toggler cursor-pointer d-none d-xl-block" id="sidebar-toggle"><img alt="Logo" class="nav-arrow" src="/assets/src/media/svg/arrow.svg"></div>
            <div class="cross-toggler cursor-pointer d-flex align-items-center justify-content-center d-xl-none" id="crossToggler">
                <i class="bi bi-x w-20-p justify-content-center d-flex align-items-center"></i>
            </div>
        </div>
        <div class="sidebar-body ps">
            <ul class="nav">
                <li class="nav-item nav-category">Main</li>
                <li class="nav-item active">
                    <a aria-controls="dashboard" aria-expanded="false" class="nav-link active" data-bs-toggle="collapse" href="#dashboard" role="button"><span class="icon-menu"><svg height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.1,0C0.5,0,0,0.5,0,1.1v3.4c0,0.6,0.5,1.1,1.1,1.1h5.6c0.6,0,1.1-0.5,1.1-1.1V1.1C7.9,0.5,7.4,0,6.8,0H1.1z" fill="currentColor"></path>
                    <path d="M11.2,12.4c-0.6,0-1.1,0.5-1.1,1.1v3.4c0,0.6,0.5,1.1,1.1,1.1h5.6c0.6,0,1.1-0.5,1.1-1.1v-3.4 c0-0.6-0.5-1.1-1.1-1.1H11.2z" fill="currentColor"></path>
                    <path d="M1.1,7.9C0.5,7.9,0,8.4,0,9v7.9C0,17.5,0.5,18,1.1,18h5.6c0.6,0,1.1-0.5,1.1-1.1V9c0-0.6-0.5-1.1-1.1-1.1H1.1z" fill="currentColor" opacity="0.3"></path>
                    <path d="M11.2,0c-0.6,0-1.1,0.5-1.1,1.1V9c0,0.6,0.5,1.1,1.1,1.1h5.6c0.6,0,1.1-0.5,1.1-1.1V1.1C18,0.5,17.5,0,16.9,0 H11.2z" fill="currentColor" opacity="0.3"></path></svg></span> <span class="link-title">Dashboard</span> <span class="menu-plus"><img alt="svg-icon" src="/assets/src/media/svg/plus-icon.svg"></span> <span class="menu-minus"><img alt="svg-icon" src="/assets/src/media/svg/minus-icon.svg"></span></a>
                    <div class="collapse show" id="dashboard">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a class="nav-link active-link" href="index.html">Main</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="dashboard/analytics.html">Analytics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="dashboard/crypto.html">Crypto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="dashboard/ecommerce.html">Ecommerce</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="dashboard/projects.html">Projects</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item nav-category mt-4">web apps</li>
                <li class="nav-item">
                    <a aria-controls="calendar" aria-expanded="false" class="nav-link" data-bs-toggle="collapse" href="#calendar" role="button"><span class="icon-menu"><svg viewbox="0 0 18 18" x="0px" y="0px">
                    <path d="M17,6L17,6L17,6H1v9c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V6L17,6z" fill="currentColor"></path>
                    <path d="M17,4v1H1V4c0-1.1,0.9-2,2-2h1V1.5C4,1.2,4.2,1,4.5,1S5,1.2,5,1.5V2h8V1.5C13,1.2,13.2,1,13.5,1S14,1.2,14,1.5 V2h1C16.1,2,17,2.9,17,4z" fill="currentColor" opacity="0.5"></path></svg></span> <span class="link-title">Calendar</span> <span class="menu-plus"><img alt="svg-icon" src="/assets/src/media/svg/plus-icon.svg"></span> <span class="menu-minus"><img alt="svg-icon" src="/assets/src/media/svg/minus-icon.svg"></span></a>
                    <div class="collapse" id="calendar">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="apps/calendar/google-calendar.html">Google</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="apps/calendar/list-view.html">List View</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="to-do" aria-expanded="false" class="nav-link" data-bs-toggle="collapse" href="#chat" role="button"><span class="icon-menu"><svg style="enable-background:new 0 0 18 18;" viewbox="0 0 18 18" x="0px" y="0px">
                    <path d="M18,2.3C18,1.1,17,0,15.7,0H2.3C1,0,0,1.1,0,2.3v9c0,1.2,1,2.2,2.2,2.2H13c0.3,0,0.6,0.1,0.8,0.3L17,17 c0.2,0.2,0.6,0.2,0.8,0c0.1-0.1,0.2-0.2,0.2-0.4V2.3z M4.2,8.3h5c0.6,0,1,0.4,1,1l0,0c0,0.6-0.4,1-1,1h-5c-0.6,0-1-0.4-1-1l0,0 C3.2,8.8,3.7,8.3,4.2,8.3z M4.2,3.3h10c0.6,0,1,0.4,1,1l0,0c0,0.6-0.4,1-1,1h-10c-0.6,0-1-0.4-1-1l0,0C3.2,3.8,3.7,3.3,4.2,3.3z" fill="currentColor"></path></svg></span> <span class="link-title">Chat</span> <span class="menu-plus"><img alt="svg-icon"  src="/assets/src/media/svg/plus-icon.svg"></span> <span class="menu-minus"><img alt="svg-icon"  src="/assets/src/media/svg/minus-icon.svg"></span></a>
                    <div class="collapse" id="chat">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="apps/chat/group.html">Group Chat</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="apps/chat/private.html">Private Chat</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="to-do" aria-expanded="false" class="nav-link" data-bs-toggle="collapse" href="#to-do" role="button"><span class="icon-menu"><svg style="enable-background:new 0 0 18 18;" viewbox="0 0 18 18" x="0px" y="0px">
                    <path d="M2.9,4.8H15c1.3,0,2.4,1.1,2.4,2.4v3.6c0,1.3-1.1,2.4-2.4,2.4H2.9c-1.3,0-2.4-1.1-2.4-2.4V7.2 C0.5,5.8,1.6,4.8,2.9,4.8z" fill="currentColor"></path>
                    <path d="M0.5,1.7c0-0.3,0.3-0.6,0.6-0.6h15.8c0.3,0,0.6,0.3,0.6,0.6s-0.3,0.6-0.6,0.6H1.1C0.8,2.3,0.5,2,0.5,1.7z" fill="currentColor" opacity="0.5"></path>
                    <path d="M0.5,16.3c0-0.3,0.3-0.6,0.6-0.6h15.8c0.3,0,0.6,0.3,0.6,0.6c0,0.3-0.3,0.6-0.6,0.6H1.1 C0.8,16.9,0.5,16.6,0.5,16.3z" fill="currentColor" opacity="0.5"></path></svg></span> <span class="link-title">To Do</span> <span class="menu-plus"><img alt="svg-icon"  src="/assets/src/media/svg/plus-icon.svg"></span> <span class="menu-minus"><img alt="svg-icon"  src="/assets/src/media/svg/minus-icon.svg"></span></a>
                    <div class="collapse" id="to-do">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="apps/todo/task.html">Task</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="apps/todo/documents.html">Documents</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item nav-category mt-4">Forms</li>
                <li class="nav-item">
                    <a aria-controls="formcontrol" aria-expanded="false" class="nav-link" data-bs-toggle="collapse" href="#formcontrol" role="button"><span class="icon-menu"><svg style="enable-background:new 0 0 18 18;" viewbox="0 0 18 18" x="0px" y="0px">
                    <path d="M10.6,1.2c-0.5-1.6-2.7-1.6-3.2,0L7.3,1.6C7,2.4,6.1,2.9,5.3,2.7C5.1,2.6,5,2.6,4.9,2.5L4.6,2.4 c-1.4-0.8-3,0.8-2.2,2.2l0.2,0.3c0.5,0.9,0,2.1-1,2.4L1.2,7.4c-1.6,0.5-1.6,2.7,0,3.2l0.4,0.1c0.9,0.3,1.4,1.2,1.1,2 c0,0.1-0.1,0.2-0.1,0.3l-0.2,0.3c-0.8,1.4,0.8,3,2.2,2.2l0.3-0.2c0.8-0.4,1.8-0.1,2.2,0.7c0.1,0.1,0.1,0.2,0.1,0.3l0.1,0.4 c0.5,1.6,2.7,1.6,3.2,0l0.1-0.4c0.3-0.9,1.2-1.4,2-1.1c0.1,0,0.2,0.1,0.3,0.1l0.3,0.2c1.4,0.8,3-0.8,2.2-2.2L15.2,13 c-0.4-0.8-0.1-1.8,0.7-2.2c0.1-0.1,0.2-0.1,0.3-0.1l0.4-0.1c1.6-0.5,1.6-2.7,0-3.2l-0.4-0.1c-0.9-0.3-1.4-1.2-1.1-2 c0-0.1,0.1-0.2,0.1-0.3l0.2-0.3c0.8-1.4-0.8-3-2.2-2.2l-0.3,0.2c-0.8,0.4-1.8,0.1-2.2-0.7c-0.1-0.1-0.1-0.2-0.1-0.3 C10.7,1.6,10.6,1.2,10.6,1.2z M9,13.2c-2.3,0-4.2-1.9-4.2-4.2S6.7,4.8,9,4.8s4.2,1.9,4.2,4.2S11.3,13.2,9,13.2L9,13.2z" fill="currentColor"></path>
                    <circle cx="8.8" cy="9" fill="currentColor" opacity="0.5" r="2.1"></circle></svg></span> <span class="link-title">Form Controls</span> <span class="menu-plus"><img alt="svg-icon"  src="/assets/src/media/svg/plus-icon.svg"></span> <span class="menu-minus"><img alt="svg-icon"  src="/assets/src/media/svg/minus-icon.svg"></span></a>
                    <div class="collapse" id="formcontrol">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="forms/controls/baseinputs.html">Base Inputs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="forms/controls/checkbox.html">Checkbox</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="forms/controls/inputgroups.html">Input Groups</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="forms/controls/megaoption.html">Mega Option</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="forms/controls/radio.html">Radio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="forms/controls/switch.html">Switch</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="forms/validation/validation.html">Validation</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="form-widget" aria-expanded="false" class="nav-link" data-bs-toggle="collapse" href="#form-widget" role="button"><span class="icon-menu"><svg style="enable-background:new 0 0 18 18;" viewbox="0 0 18 18">
                    <path d="M14.9,0H3.2c-1.6,0-3,1-3,2.2v4.5h17.6V2.2C17.9,1,16.6,0,14.9,0z" fill="currentColor" opacity="0.5"></path>
                    <rect fill="currentColor" height="2.2" width="5.9" x="12" y="7.9"></rect>
                    <rect fill="currentColor" height="2.2" width="5.9" x="12" y="11.2"></rect>
                    <path d="M17.9,14.6H12V18h2.9c1.6,0,2.9-1,2.9-2.2v-1.2H17.9z" fill="currentColor"></path>
                    <rect fill="currentColor" height="3.4" width="4.4" x="6.1" y="14.6"></rect>
                    <path d="M4.7,18v-3.4H0.2v1.1c0,1.3,1.4,2.3,3,2.3H4.7z" fill="currentColor"></path>
                    <rect fill="currentColor" height="2.2" width="4.4" x="0.2" y="11.2"></rect>
                    <rect fill="currentColor" height="2.2" width="4.4" x="0.2" y="7.9"></rect>
                    <rect fill="currentColor" height="2.2" width="4.4" x="6.1" y="7.9"></rect>
                    <rect fill="currentColor" height="2.2" width="4.4" x="6.1" y="11.2"></rect></svg></span> <span class="link-title">Form Widgets</span> <span class="menu-plus"><img alt="svg-icon"  src="/assets/src/media/svg/plus-icon.svg"></span> <span class="menu-minus"><img alt="svg-icon"  src="/assets/src/media/svg/minus-icon.svg"></span></a>
                    <div class="collapse" id="form-widget">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="forms/widgets/datepicker.html">Datepicker</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="forms/widgets/extras.html">Extras</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="forms/widgets/formrepeater.html">Form Repeater</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="forms/widgets/inputmasks.html">Input Masks</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="forms/widgets/miscellaneous.html">Miscellaneous</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="forms/widgets/tagify.html">Tagify</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="forms/widgets/rangeslider.html">Range Slider</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="form-editor" aria-expanded="false" class="nav-link" data-bs-toggle="collapse" href="#form-editor" role="button"><span class="icon-menu"><svg style="enable-background:new 0 0 18 18;" viewbox="0 0 18 18" x="0px" y="0px">
                    <path d="M14.5,0.2c-0.2-0.2-0.6-0.2-0.8,0L11.8,2L16,6.2l1.9-1.9c0.2-0.2,0.2-0.6,0-0.8l0,0C17.8,3.5,14.5,0.2,14.5,0.2 z" fill="currentColor" opacity="0.5"></path>
                    <path d="M15.2,7L11,2.8l-7.3,7.3h0.2c0.3,0,0.6,0.3,0.6,0.6v0.6h0.6c0.3,0,0.6,0.3,0.6,0.6v0.6h0.6 c0.3,0,0.6,0.3,0.6,0.6v0.6h0.6c0.3,0,0.6,0.3,0.6,0.6v0.2L15.2,7z" fill="currentColor"></path>
                    <path d="M6.8,15.4c0-0.1,0-0.1,0-0.2v-0.6H6.2c-0.3,0-0.6-0.3-0.6-0.6v-0.6H5.1c-0.3,0-0.6-0.3-0.6-0.6v-0.6H3.9 c-0.3,0-0.6-0.3-0.6-0.6V11H2.8c-0.1,0-0.1,0-0.2,0l-0.2,0.2c-0.1,0.1-0.1,0.1-0.1,0.2L0,17.2c-0.1,0.3,0,0.6,0.3,0.7 C0.5,18,0.6,18,0.8,18l5.6-2.2c0.1,0,0.1-0.1,0.2-0.1L6.8,15.4L6.8,15.4z" fill="currentColor" opacity="0.5"></path></svg></span> <span class="link-title">Form Text Editors</span> <span class="menu-plus"><img alt="svg-icon"  src="/assets/src/media/svg/plus-icon.svg"></span> <span class="menu-minus"><img alt="svg-icon"  src="/assets/src/media/svg/minus-icon.svg"></span></a>
                    <div class="collapse" id="form-editor">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="forms/texteditors/tinyMCE.html">TinyMCE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="forms/texteditors/quill.html">Quill</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="forms/texteditors/summernote.html">Summernote</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="form-layout" aria-expanded="false" class="nav-link" data-bs-toggle="collapse" href="#form-layout" role="button"><span class="icon-menu"><svg style="enable-background:new 0 0 18 18;" viewbox="0 0 18 18" x="0px" y="0px">
                    <path d="M10.2,0.5c-0.7-0.7-1.7-0.7-2.4,0L4.6,3.8L9,8.2l4.4-4.4L10.2,0.5L10.2,0.5z" fill="currentColor"></path>
                    <path d="M14.2,4.6L9.8,9l4.4,4.4l3.3-3.3c0.7-0.7,0.7-1.7,0-2.4L14.2,4.6L14.2,4.6z" fill="currentColor" opacity="0.5"></path>
                    <path d="M13.4,14.2L9,9.8l-4.4,4.4l3.3,3.3c0.7,0.7,1.7,0.7,2.4,0L13.4,14.2L13.4,14.2z" fill="currentColor"></path>
                    <path d="M3.8,13.4L8.2,9L3.8,4.6L0.5,7.8c-0.7,0.7-0.7,1.7,0,2.4L3.8,13.4L3.8,13.4z" fill="currentColor" opacity="0.5"></path></svg></span> <span class="link-title">Form Layouts</span> <span class="menu-plus"><img alt="svg-icon"  src="/assets/src/media/svg/plus-icon.svg"></span> <span class="menu-minus"><img alt="svg-icon"  src="/assets/src/media/svg/minus-icon.svg"></span></a>
                    <div class="collapse" id="form-layout">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="forms/layouts/default.html">Default</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="forms/layouts/multicolumn.html">Multi Column Forms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="forms/layouts/basicaction.html">Basic Action Bars</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="forms/layouts/stickyaction.html">Sticky Action Bars</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item nav-category mt-4">Components</li>
                <li class="nav-item">
                    <a aria-controls="charts" aria-expanded="false" class="nav-link" data-bs-toggle="collapse" href="#charts" role="button"><span class="icon-menu"><svg style="enable-background:new 0 0 18 18;" viewbox="0 0 18 18" x="0px" y="0px">
                    <path d="M6,11v3H2v-3c0-0.5,0.5-1,1-1h2C5.5,10,6,10.5,6,11z" fill="currentColor"></path>
                    <path d="M11,7v7H7V7c0-0.5,0.5-1,1-1h2C10.5,6,11,6.5,11,7z" fill="currentColor" opacity="0.6"></path>
                    <path d="M16,2v12h-4V2c0-0.5,0.5-1,1-1h2C15.5,1,16,1.5,16,2z" fill="currentColor"></path>
                    <path d="M17,15.5c0,0.3-0.2,0.5-0.5,0.5h-15C1.2,16,1,15.8,1,15.5S1.2,15,1.5,15h15C16.8,15,17,15.2,17,15.5z" fill="currentColor"></path></svg></span> <span class="link-title">Charts</span> <span class="menu-plus"><img alt="svg-icon"  src="/assets/src/media/svg/plus-icon.svg"></span> <span class="menu-minus"><img alt="svg-icon"  src="/assets/src/media/svg/minus-icon.svg"></span></a>
                    <div class="collapse" id="charts">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="components/charts/apexcharts/apexcharts.html">Apex</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/charts/amcharts/amchart.html">Amchart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/charts/amcharts/maps.html">Maps</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/charts/flotcharts/flotchart.html">Flot Chart</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="components/upload/file.html"><span class="icon-menu"><svg style="enable-background:new 0 0 18 18" viewbox="0 0 18 18" x="0px" y="0px">
                    <path d="M8.2,0.9c0.4-0.5,1.2-0.5,1.6-0.1c0,0,0,0,0.1,0.1l7.3,7.8c0.7,0.7,0.2,1.9-0.8,1.9H13v1.2 c0,0.6-0.5,1.2-1.2,1.2H6.1C5.5,13,5,12.5,5,11.9v-1.2H1.7c-1,0-1.5-1.2-0.8-1.9L8.2,0.9z" fill="currentColor"></path>
                    <path d="M5,15.3c0-0.6,0.5-1.2,1.2-1.2h5.8c0.6,0,1.2,0.5,1.2,1.2v1.2c0,0.6-0.5,1.2-1.2,1.2H6.1 c-0.6,0-1.2-0.5-1.2-1.2V15.3z" fill="currentColor" opacity="0.5"></path></svg></span> <span class="link-title">File Upload</span></a>
                </li>
                <li class="nav-item">
                    <a aria-controls="tables" aria-expanded="false" class="nav-link" data-bs-toggle="collapse" href="#tables" role="button"><span class="icon-menu"><svg style="enable-background:new 0 0 18 18" viewbox="0 0 18 18" x="0px" y="0px">
                    <path d="M0,3.9c0-0.3,0.3-0.6,0.6-0.6h16.9c0.3,0,0.6,0.3,0.6,0.6v2.2c0,0.3-0.3,0.6-0.6,0.6H0.6C0.3,6.8,0,6.5,0,6.2 V3.9z" fill="currentColor"></path>
                    <path d="M0,9.6C0,9.3,0.3,9,0.6,9h16.9C17.7,9,18,9.3,18,9.6v1.1c0,0.3-0.3,0.6-0.6,0.6H0.6C0.3,11.2,0,11,0,10.7V9.6z" fill="currentColor" opacity="0.5"></path>
                    <path d="M0,14.1c0-0.3,0.3-0.6,0.6-0.6h16.9c0.3,0,0.6,0.3,0.6,0.6s-0.3,0.6-0.6,0.6H0.6C0.3,14.6,0,14.4,0,14.1z" fill="currentColor"></path></svg></span> <span class="link-title">Tables</span> <span class="menu-plus"><img alt="svg-icon"  src="/assets/src/media/svg/plus-icon.svg"></span> <span class="menu-minus"><img alt="svg-icon"  src="/assets/src/media/svg/minus-icon.svg"></span></a>
                    <div class="collapse" id="tables">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="components/tables/basic.html">Basic Tables</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/tables/datatable.html">Data Table</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="widgets" aria-expanded="false" class="nav-link" data-bs-toggle="collapse" href="#widgets" role="button"><span class="icon-menu"><svg style="enable-background:new 0 0 18 18" viewbox="0 0 18 18" x="0px" y="0px">
                    <path d="M8.8,2.2c0.2-0.1,0.3-0.1,0.5,0l8,4.3c0.3,0.1,0.4,0.5,0.2,0.7c0,0.1-0.1,0.2-0.2,0.2l-8,4.3 c-0.2,0.1-0.3,0.1-0.5,0l-8-4.3C0.5,7.2,0.4,6.9,0.6,6.6c0-0.1,0.1-0.2,0.2-0.2L8.8,2.2z" fill="currentColor"></path>
                    <path d="M2.8,9.6l-2,1.1c-0.3,0.1-0.4,0.5-0.2,0.7c0,0.1,0.1,0.2,0.2,0.2l8,4.3c0.2,0.1,0.3,0.1,0.5,0l8-4.3 c0.3-0.1,0.4-0.5,0.2-0.7c0-0.1-0.1-0.2-0.2-0.2l-2-1.1l-5.5,2.9c-0.5,0.2-1,0.2-1.5,0C8.3,12.5,2.8,9.6,2.8,9.6z" fill="currentColor" opacity="0.5"></path></svg></span> <span class="link-title">Widgets</span> <span class="menu-plus"><img alt="svg-icon"  src="/assets/src/media/svg/plus-icon.svg"></span> <span class="menu-minus"><img alt="svg-icon"  src="/assets/src/media/svg/minus-icon.svg"></span></a>
                    <div class="collapse" id="widgets">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="components/widgets/engage.html">Engage</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/widgets/lists.html">Lists</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/widgets/mixed.html">Mixed</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/widgets/stats.html">Stats</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/widgets/tiles.html">Tiles</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="uiComponents" aria-expanded="false" class="nav-link" data-bs-toggle="collapse" href="#uiComponents" role="button"><span class="icon-menu"><svg style="enable-background:new 0 0 18 18" viewbox="0 0 18 18" x="0px" y="0px">
                    <path d="M6.9,6.6l4.4-4.4C11.5,2,11.8,2,12,2.2L15.8,6c0.2,0.2,0.2,0.5,0,0.8c0,0,0,0,0,0l-4.4,4.4H17 c0.3,0,0.5,0.2,0.5,0.5V17c0,0.3-0.2,0.5-0.5,0.5l-11.8,0 M6.9,14.1l7.8-7.8l-3-3L6.9,8.1V14.1L6.9,14.1z M16.4,16.4v-4.2h-6.1 l-4.3,4.2H16.4z" fill="currentColor" opacity="0.5"></path>
                    <path d="M0.5,1c0-0.3,0.2-0.5,0.5-0.5h5.3c0.3,0,0.5,0.2,0.5,0.5v5.6l0,4.9c0,0,0,2.5,0,2.7v1.6c0,0.3,0,1.1,0,1.6H3.7 c-0.8,0-1.7-0.3-2.3-0.9c-0.6-0.6-0.9-1.4-0.9-2.2 M5.3,14.3c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6 S5.3,15.2,5.3,14.3z M0.5,1v13.3V1z" fill="currentColor"></path></svg></span> <span class="link-title">UI Kit</span> <span class="menu-plus"><img alt="svg-icon"  src="/assets/src/media/svg/plus-icon.svg"></span> <span class="menu-minus"><img alt="svg-icon"  src="/assets/src/media/svg/minus-icon.svg"></span></a>
                    <div class="collapse" id="uiComponents">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/accordion.html">Accordion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/alerts.html">Alerts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/badges.html">Badges</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/breadcrumbs.html">Breadcrumbs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/buttons.html">Buttons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/buttongroup.html">Button group</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/cards.html">Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/carousel.html">Carousel</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/close.html">Close</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/collapse.html">Collapse</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/dropdowns.html">Dropdowns</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/bootstrapicon.html">Icons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/listgroup.html">List group</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/modal.html">Modal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/navbar.html">Navbar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/offcanvas.html">Offcanvas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/pagination.html">Pagination</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/popovers.html">Popovers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/progress.html">Progress</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/scrollspy.html">Scrollspy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/spinners.html">Spinners</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/tabs.html">Nav & tabs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/toast.html">Toast</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components/uikit/tooltips.html">Tooltips</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item nav-category mt-4">Custom</li>
                <li class="nav-item">
                    <a aria-controls="contacts" aria-expanded="false" class="nav-link" data-bs-toggle="collapse" href="#contacts" role="button"><span class="icon-menu"><svg style="enable-background:new 0 0 18 18" viewbox="0 0 18 18" x="0px" y="0px">
                    <path d="M9,2.8V15c-0.2,0-0.3-0.1-0.4-0.2c-0.6-0.8-1.8-1-3.2-0.9c-1.4,0.1-2.8,0.6-3.7,1c-0.1,0-0.1,0-0.2,0 C1.2,15,1,14.8,1,14.5v-11C1,3.3,1.1,3.1,1.3,3c1-0.4,2.5-1,4-1.1C6.6,1.8,8,1.9,9,2.8z" fill="currentColor"></path>
                    <path d="M17,3.5v11c0,0.1,0,0.1,0,0.2c-0.1,0.2-0.4,0.4-0.7,0.2c-0.9-0.4-2.3-0.9-3.7-1c-1.4-0.1-2.6,0.1-3.2,0.9 c0,0,0,0.1-0.1,0.1C9.2,15,9.1,15,9,15V2.8c1-0.8,2.4-1,3.7-0.8c1.5,0.2,3,0.7,4,1.1C16.9,3.1,17,3.3,17,3.5z" fill="currentColor" opacity="0.5"></path>
                    <line fill="currentColor" x1="9" x2="9" y1="15" y2="2.8"></line></svg></span> <span class="link-title">Contacts</span> <span class="menu-plus"><img alt="svg-icon"  src="/assets/src/media/svg/plus-icon.svg"></span> <span class="menu-minus"><img alt="svg-icon"  src="/assets/src/media/svg/minus-icon.svg"></span></a>
                    <div class="collapse" id="contacts">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="custom/contacts/add-contact.html">Add Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="custom/contacts/view.html">View Contact</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="custom/ganttchart/chart.html"><span class="icon-menu"><svg style="enable-background:new 0 0 18 18" viewbox="0 0 18 18" x="0px" y="0px">
                    <path d="M4.8,2.5C4.8,2.2,5,2,5.2,2h3.5c0.2,0,0.4,0.2,0.4,0.5v1C9.1,3.8,8.9,4,8.7,4H5.2C5,4,4.8,3.8,4.8,3.5V2.5z" fill="currentColor" opacity="0.5"></path>
                    <path d="M6.5,6.5C6.5,6.2,6.7,6,7,6H13c0.2,0,0.4,0.2,0.4,0.5v1C13.5,7.8,13.3,8,13,8H7C6.7,8,6.5,7.8,6.5,7.5V6.5z" fill="currentColor"></path>
                    <path d="M8.3,10.5c0-0.3,0.2-0.5,0.4-0.5h5.2c0.2,0,0.4,0.2,0.4,0.5v1c0,0.3-0.2,0.5-0.4,0.5H8.7c-0.2,0-0.4-0.2-0.4-0.5V10.5z" fill="currentColor" opacity="0.5"></path>
                    <path d="M10,14.5c0-0.3,0.2-0.5,0.4-0.5h6.1c0.2,0,0.4,0.2,0.4,0.5v1c0,0.3-0.2,0.5-0.4,0.5h-6.1 c-0.2,0-0.4-0.2-0.4-0.5V14.5z" fill="currentColor"></path>
                    <path d="M3.6,17.2H1.2c-0.4,0-0.8-0.4-0.8-0.8V2c0-0.4,0.4-0.8,0.8-0.8h2.4c0.4,0,0.8,0.4,0.8,0.8v14.4 C4.4,16.8,4.1,17.2,3.6,17.2z" fill="currentColor"></path></svg></span> <span class="link-title">Gantt Chart</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="custom/kanban/kanban.html"><span class="icon-menu"><svg style="enable-background:new 0 0 18 18" viewbox="0 0 18 18" x="0px" y="0px">
                    <path d="M6.8,1.7c0-0.8,0.7-1.5,1.5-1.5h1.5c0.8,0,1.5,0.7,1.5,1.5v4.4c0,0.8-0.7,1.5-1.5,1.5H8.3 c-0.8,0-1.5-0.7-1.5-1.5V1.7z" fill="currentColor" opacity="0.5"></path>
                    <path d="M1,1.7c0-0.8,0.7-1.5,1.5-1.5h1.5c0.8,0,1.5,0.7,1.5,1.5v10.2c0,0.8-0.7,1.5-1.5,1.5H2.5 c-0.8,0-1.5-0.7-1.5-1.5V1.7z" fill="currentColor"></path>
                    <path d="M12.6,1.7c0-0.8,0.7-1.5,1.5-1.5h1.5c0.8,0,1.5,0.7,1.5,1.5v14.5c0,0.8-0.7,1.5-1.5,1.5h-1.5 c-0.8,0-1.5-0.7-1.5-1.5V1.7z" fill="currentColor"></path></svg></span> <span class="link-title">Kanban Board</span></a>
                </li>
                <li class="nav-item">
                    <a aria-controls="maps" aria-expanded="false" class="nav-link" data-bs-toggle="collapse" href="#maps" role="button"><span class="icon-menu"><svg style="enable-background:new 0 0 18 18" viewbox="0 0 18 18" x="0px" y="0px">
                    <path d="M1.4,2L6,1.1v15L1.6,17c0,0-0.1,0-0.1,0C1.2,17,1,16.8,1,16.5v-14C1,2.3,1.2,2.1,1.4,2z" fill="currentColor"></path>
                    <polygon fill="currentColor" opacity="0.5" points="7,1.1 11,1.9 11,16.9 7,16.1"></polygon>
                    <path d="M17,1.5v14c0,0.2-0.2,0.4-0.4,0.5L12,16.9v-15L16.4,1c0,0,0.1,0,0.1,0C16.8,1,17,1.2,17,1.5z" fill="currentColor"></path></svg></span> <span class="link-title">Maps</span> <span class="menu-plus"><img alt="svg-icon"  src="/assets/src/media/svg/plus-icon.svg"></span> <span class="menu-minus"><img alt="svg-icon"  src="/assets/src/media/svg/minus-icon.svg"></span></a>
                    <div class="collapse" id="maps">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="custom/maps/google.html">Google Maps</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="custom/maps/jqv.html">JQV</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="custom/maps/leaflet.html">Leaflet</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user/profile"><span class="icon-menu"><svg style="enable-background:new 0 0 18 18" viewbox="0 0 18 18" x="0px" y="0px">
                    <path d="M1.5,18c0,0-1.5,0-1.5-1.5s1.5-6,9-6s9,4.5,9,6S16.5,18,16.5,18H1.5z" fill="currentColor"></path>
                    <circle cx="9" cy="4.5" fill="currentColor" opacity="0.5" r="4.5"></circle></svg></span> <span class="link-title">Profile</span></a>
                </li>
                <li class="nav-item">
                    <a aria-controls="projects" aria-expanded="false" class="nav-link" data-bs-toggle="collapse" href="#projects" role="button"><span class="icon-menu"><svg style="enable-background:new 0 0 18 18" version="1.1" viewbox="0 0 18 18" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                    <style>
                    .st0 { fill: #70757C } .st1 { fill: #8F939A } 
                    </style>
                    <path class="st0" d="M9.5,3.3L8.6,2.4C8.2,2,7.7,1.8,7.1,1.8h-4C1.9,1.8,1,2.7,0.9,3.8h1c0-0.6,0.5-1.1,1.1-1.1h4 c0.3,0,0.6,0.1,0.8,0.3l0.7,0.8h2.4C10.3,3.8,9.9,3.6,9.5,3.3z"></path>
                    <path class="st1" d="M8.5,3.8h2.4c0,0,0.1,0,0.1,0h4.3c1.2,0,2.2,1,2.2,2.2c0,0.1,0,0.1,0,0.2l-0.7,7.6c-0.1,1.1-1,2-2.2,2H3.4 c-1.1,0-2.1-0.9-2.2-2L0.5,6.3c0-0.5,0.1-1,0.4-1.4V4c0,0,0-0.1,0-0.1h1H8.5z"></path></svg></span> <span class="link-title">Projects</span> <span class="menu-plus"><img alt="svg-icon"  src="/assets/src/media/svg/plus-icon.svg"></span> <span class="menu-minus"><img alt="svg-icon"  src="/assets/src/media/svg/minus-icon.svg"></span></a>
                    <div class="collapse" id="projects">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="custom/projects/add-project.html">Add Project</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="custom/projects/edit-project.html">Edit Project</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="custom/projects/list.html">List Project</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="custom/projects/project-detail.html">View Project</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="users" aria-expanded="false" class="nav-link" data-bs-toggle="collapse" href="#users" role="button"><span class="icon-menu"><svg style="enable-background:new 0 0 18 18" viewbox="0 0 18 18" x="0px" y="0px">
                    <path d="M7.9,15.8c0,0-1.1,0-1.1-1.1s1.1-4.5,5.6-4.5s5.6,3.4,5.6,4.5s-1.1,1.1-1.1,1.1H7.9z" fill="currentColor"></path>
                    <circle cx="12.4" cy="5.6" fill="currentColor" opacity="0.5" r="3.4"></circle>
                    <path d="M5.9,15.8c-0.2-0.4-0.2-0.7-0.2-1.1c0-1.5,0.8-3.1,2.2-4.2c-0.7-0.2-1.4-0.3-2.2-0.3c-4.5,0-5.6,3.4-5.6,4.5 s1.1,1.1,1.1,1.1H5.9z" fill="currentColor"></path>
                    <path d="M5.1,9c1.6,0,2.8-1.3,2.8-2.8S6.6,3.4,5.1,3.4S2.2,4.6,2.2,6.2S3.5,9,5.1,9z" fill="currentColor" opacity="0.5"></path></svg></span> <span class="link-title">Users</span> <span class="menu-plus"><img alt="svg-icon"  src="/assets/src/media/svg/plus-icon.svg"></span> <span class="menu-minus"><img alt="svg-icon"  src="/assets/src/media/svg/minus-icon.svg"></span></a>
                    <div class="collapse" id="users">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/user/user-detail">User Detail</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/user/user-list">User List</a>
                    
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item nav-category mt-4">Pages</li>
                <li class="nav-item">
                    <a aria-controls="auth" aria-expanded="false" class="nav-link" data-bs-toggle="collapse" href="#auth" role="button"><span class="icon-menu"><svg style="enable-background:new 0 0 18 18" viewbox="0 0 18 18" x="0px" y="0px">
                    <path d="M16,3.6v4.3c0,0.3-0.2,0.5-0.5,0.5c-0.3,0-0.5-0.2-0.5-0.5V3.6c0-1.2-1-2.2-2.1-2.2s-2.2,1-2.2,2.2v4.3H9.5V3.6 c0-1.8,1.4-3.2,3.2-3.2C14.5,0.4,16,1.8,16,3.6z" fill="currentColor" opacity="0.5"></path>
                    <path d="M12.8,10.1v5.4c0,1.2-1,2.2-2.2,2.2H4.2c-1.2,0-2.2-1-2.2-2.2v-5.4c0-1.2,1-2.2,2.2-2.2h5.4v0h1.1v0 C11.8,7.9,12.8,8.9,12.8,10.1z" fill="currentColor"></path></svg></span> <span class="link-title">Authentication</span> <span class="menu-plus"><img alt="svg-icon"  src="/assets/src/media/svg/plus-icon.svg"></span> <span class="menu-minus"><img alt="svg-icon"  src="/assets/src/media/svg/minus-icon.svg"></span></a>
                    <div class="collapse" id="auth">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/auth/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="pages/authentication/register.html">Register</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="error" aria-expanded="false" class="nav-link" data-bs-toggle="collapse" href="#error" role="button"><span class="icon-menu"><svg style="enable-background:new 0 0 16 16;" viewbox="0 0 16 16" x="0px" y="0px">
                    <path d="M5,0.9C4.9,0.6,4.6,0.4,4.4,0.5S3.9,0.8,4,1.1c0,0,0,0,0,0l0.4,1.4C3.5,3.4,3,4.7,3,6h10c0-1.3-0.5-2.6-1.4-3.5 L12,1.1c0.1-0.3,0-0.5-0.3-0.6c-0.3-0.1-0.5,0-0.6,0.3c0,0,0,0,0,0l-0.3,1C9.9,1.3,9,1,8,1C7,1,6.1,1.3,5.3,1.8L5,0.9L5,0.9z" fill="currentColor" opacity="0.5"></path>
                    <path d="M13,6v1H8.5v9c2.6-0.3,4.5-2.4,4.5-5h0.5c0.3,0,0.5,0.2,0.5,0.5V12c0,0.3,0.2,0.5,0.5,0.5S15,12.3,15,12v-0.5 c0-0.8-0.7-1.5-1.5-1.5H13V9h1.5C14.8,9,15,8.8,15,8.5S14.8,8,14.5,8H13V7h0.5C14.3,7,15,6.3,15,5.5V5c0-0.3-0.2-0.5-0.5-0.5 S14,4.7,14,5v0.5C14,5.8,13.8,6,13.5,6H13z M7.5,16V7H3V6H2.5C2.2,6,2,5.8,2,5.5V5c0-0.3-0.2-0.5-0.5-0.5S1,4.7,1,5v0.5 C1,6.3,1.7,7,2.5,7H3v1H1.5C1.2,8,1,8.2,1,8.5S1.2,9,1.5,9H3v1H2.5C1.7,10,1,10.7,1,11.5V12c0,0.3,0.2,0.5,0.5,0.5S2,12.3,2,12v-0.5 C2,11.2,2.2,11,2.5,11H3C3,13.6,4.9,15.7,7.5,16z" fill="currentColor"></path></svg></span> <span class="link-title">Error</span> <span class="menu-plus"><img alt="svg-icon"  src="/assets/src/media/svg/plus-icon.svg"></span> <span class="menu-minus"><img alt="svg-icon"  src="/assets/src/media/svg/minus-icon.svg"></span></a>
                    <div class="collapse" id="error">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="pages/error/404.html">404</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages/error/505.html">505</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="general" aria-expanded="false" class="nav-link" data-bs-toggle="collapse" href="#general" role="button"><span class="icon-menu"><svg style="enable-background:new 0 0 18 18" viewbox="0 0 18 18" x="0px" y="0px">
                    <path d="M0,14.7c0,0.9,0.8,1.7,1.7,1.7h14.6c0.9,0,1.7-0.8,1.7-1.7V6.8c0-0.9-0.8-1.7-1.7-1.7H1.7C0.8,5.1,0,5.9,0,6.8 V14.7z" fill="currentColor"></path>
                    <path d="M2.2,3.4C2.2,3.7,2.5,4,2.8,4h12.4c0.3,0,0.6-0.3,0.6-0.6s-0.3-0.6-0.6-0.6H2.8C2.5,2.9,2.2,3.1,2.2,3.4z" fill="currentColor" opacity="0.5"></path>
                    <path d="M4.5,1.2c0,0.3,0.3,0.6,0.6,0.6h7.9c0.3,0,0.6-0.3,0.6-0.6s-0.3-0.6-0.6-0.6H5.1C4.8,0.6,4.5,0.9,4.5,1.2z" fill="currentColor" opacity="0.5"></path></svg></span> <span class="link-title">Special Pages</span> <span class="menu-plus"><img alt="svg-icon"  src="/assets/src/media/svg/plus-icon.svg"></span> <span class="menu-minus"><img alt="svg-icon"  src="/assets/src/media/svg/minus-icon.svg"></span></a>
                    <div class="collapse" id="general">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="pages/special/faq.html">Faq</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages/special/invoice.html">Invoice</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages/special/pricing.html">Pricing</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</main>