$utilities: (
    "width": (
        property: width,
        class: w,
        responsive: true,
        values: (
          5-p: 5px,
          10-p: 10px,
          15-p: 15px,
          20-p: 20px,
          25-p: 25px,
          30-p: 30px,
          35-p: 35px,
          40-p: 40px,
          45-p: 45px,
          50-p: 50px,
          55-p: 55px,
          60-p: 60px,
          65-p: 65px,
          70-p: 70px,
          75-p: 75px,
          80-p: 80px,
          85-p: 85px,
          90-p: 90px,
          95-p: 95px,
          100-p: 100px,
          125-p: 125px,
          150-p: 150px,
          200-p: 200px,
          250-p: 250px,
          300-p: 300px,
          350-p: 350px,
          400-p: 400px,
          450-p: 450px,
          500-p: 500px,
          550-p: 550px,
          600-p: 600px,
          650-p: 650px,
          700-p: 700px,
          750-p: 750px,
          800-p: 800px,
          850-p: 850px,
          900-p: 900px,
          950-p: 950px,
          1000-p: 1000px,





          5: 5%,
          10: 10%,
          15: 15%,
          20: 20%,
          25: 25%,
          30: 30%,
          35: 35%,
          40: 40%,
          45: 45%,
          50: 50%,
          55: 55%,
          60: 60%,
          65: 65%,
          70: 70%,
          75: 75%,
          80: 80%,
          85: 85%,
          90: 90%,
          95: 95%,
          100: 100%,
          125: 125%,
          150: 150%,
          200: 200%,
          250: 250%,
          300: 300%,
          350: 350%,
          400: 400%,
          450: 450%,
          500: 500%,
          550: 550%,
          600: 600%,
          650: 650%,
          700: 700%,
          750: 750%,
          800: 800%,
          850: 850%,
          900: 900%,
          950: 950%,
          1000: 1000%,
        )
      ),
      "min-width": (
        property: min-width,
        class: w,
        responsive: true,
        values: (
          5-p-min: 5px,
          10-p-min: 10px,
          15-p-min: 15px,
          20-p-min: 20px,
          25-p-min: 25px,
          30-p-min: 30px,
          35-p-min: 35px,
          40-p-min: 40px,
          45-p-min: 45px,
          50-p-min: 50px,
          55-p-min: 55px,
          60-p-min: 60px,
          65-p-min: 65px,
          70-p-min: 70px,
          75-p-min: 75px,
          80-p-min: 80px,
          85-p-min: 85px,
          90-p-min: 90px,
          95-p-min: 95px,
          100-p-min: 100px,
          125-p-min: 125px,
          150-p-min: 150px,
          200-p-min: 200px,
          250-p-min: 250px,
          300-p-min: 300px,
          350-p-min: 350px,
          400-p-min: 400px,
          450-p-min: 450px,
          500-p-min: 500px,
          550-p-min: 550px,
          600-p-min: 600px,
          650-p-min: 650px,
          700-p-min: 700px,
          750-p-min: 750px,
          800-p-min: 800px,
          850-p-min: 850px,
          900-p-min: 900px,
          950-p-min: 950px,
          1000-p-min: 1000px,

          5-min: 5%,
          10-min: 10%,
          15-min: 15%,
          20-min: 20%,
          25-min: 25%,
          30-min: 30%,
          35-min: 35%,
          40-min: 40%,
          45-min: 45%,
          50-min: 50%,
          55-min: 55%,
          60-min: 60%,
          65-min: 65%,
          70-min: 70%,
          75-min: 75%,
          80-min: 80%,
          85-min: 85%,
          90-min: 90%,
          95-min: 95%,
          100-min: 100%,
          125-min: 125%,
          150-min: 150%,
          200-min: 200%,
          250-min: 250%,
          300-min: 300%,
          350-min: 350%,
          400-min: 400%,
          450-min: 450%,
          500-min: 500%,
          550-min: 550%,
          600-min: 600%,
          650-min: 650%,
          700-min: 700%,
          750-min: 750%,
          800-min: 800%,
          850-min: 850%,
          900-min: 900%,
          950-min: 950%,
          1000-min: 1000%,
        )
      ),
      "max-width": (
        property: max-width,
        class: w,
        responsive: true,
        values: (
          5-p-max: 5px,
          10-p-max: 10px,
          15-p-max: 15px,
          20-p-max: 20px,
          25-p-max: 25px,
          30-p-max: 30px,
          35-p-max: 35px,
          40-p-max: 40px,
          45-p-max: 45px,
          50-p-max: 50px,
          55-p-max: 55px,
          60-p-max: 60px,
          65-p-max: 65px,
          70-p-max: 70px,
          75-p-max: 75px,
          80-p-max: 80px,
          85-p-max: 85px,
          90-p-max: 90px,
          95-p-max: 95px,
          100-p-max: 100px,
          125-p-max: 125px,
          150-p-max: 150px,
          200-p-max: 200px,
          250-p-max: 250px,
          300-p-max: 300px,
          350-p-max: 350px,
          400-p-max: 400px,
          450-p-max: 450px,
          500-p-max: 500px,
          550-p-max: 550px,
          600-p-max: 600px,
          650-p-max: 650px,
          700-p-max: 700px,
          750-p-max: 750px,
          800-p-max: 800px,
          850-p-max: 850px,
          900-p-max: 900px,
          950-p-max: 950px,
          1000-p-max: 1000px,



          5-max: 5%,
           10-max: 10%,
           15-max: 15%,
           20-max: 20%,
           25-max: 25%,
           30-max: 30%,
           35-max: 35%,
           40-max: 40%,
           45-maxn: 45%,
           50-max: 50%,
           55-max: 55%,
           60-max: 60%,
           65-max: 65%,
           70-max: 70%,
           75-max: 75%,
           80-max: 80%,
           85-max: 85%,
           90-max: 90%,
           95-max: 95%,
           100-max: 100%,
           125-max: 125%,
           150-max: 150%,
           200-max: 200%,
           250-max: 250%,
           300-max: 300%,
           350-max: 350%,
           400-max: 400%,
           450-max: 450%,
           500-max: 500%,
           550-max: 550%,
           600-max: 600%,
           650-max: 650%,
           700-max: 700%,
           750-max: 750%,
           800-max: 800%,
           850-max: 850%,
           900-max: 900%,
           950-max: 950%,
           1000-max: 1000%,
        )
        ),
        "height": (
        property: height,
        class: h,
        responsive: true,
        values: (
            5-p: 5px,
           10-p: 10px,
           15-p: 15px,
           20-p: 20px,
           25-p: 25px,
           30-p: 30px,
           35-p: 35px,
           40-p: 40px,
           45-p: 45px,
           50-p: 50px,
           55-p: 55px,
           60-p: 60px,
           65-p: 65px,
           70-p: 70px,
           75-p: 75px,
           80-p: 80px,
           85-p: 85px,
           90-p: 90px,
           95-p: 95px,
           100-p: 100px,
           125-p: 125px,
           150-p: 150px,
           200-p: 200px,
           250-p: 250px,
           300-p: 300px,
           350-p: 350px,
           400-p: 400px,
           450-p: 450px,
           500-p: 500px,
           



           5: 5%,
           10: 10%,
           15: 15%,
           20: 20%,
           25: 25%,
           30: 30%,
           35: 35%,
           40: 40%,
           45: 45%,
           50: 50%,
           55: 55%,
           60: 60%,
           65: 65%,
           70: 70%,
           75: 75%,
           80: 80%,
           85: 85%,
           90: 90%,
           95: 95%,
           100: 100%,
           125: 125%,
           150: 150%,
           200: 200%,
           250: 250%,
           300: 300%,
           350: 350%,
           400: 400%,
           450: 450%,
           500: 500%,
        )
           ),
           "min-height": (
        property: min-height,
        class: h,
        responsive: true,
        values: (
          5-p-min: 5px,
          10-p-min: 10px,
          15-p-min: 15px,
          20-p-min: 20px,
          25-p-min: 25px,
          30-p-min: 30px,
          35-p-min: 35px,
          40-p-min: 40px,
          45-p-min: 45px,
          50-p-min: 50px,
          55-p-min: 55px,
          60-p-min: 60px,
          65-p-min: 65px,
          70-p-min: 70px,
          75-p-min: 75px,
          80-p-min: 80px,
          85-p-min: 85px,
          90-p-min: 90px,
          95-p-min: 95px,
          100-p-min: 100px,
          125-p-min: 125px,
          150-p-min: 150px,
          200-p-min: 200px,
          250-p-min: 250px,
          300-p-min: 300px,
          350-p-min: 350px,
          400-p-min: 400px,
          450-p-min: 450px,
          500-p-min: 500px,



          5-min: 5%,
          10-min: 10%,
          15-min: 15%,
          20-min: 20%,
          25-min: 25%,
          30-min: 30%,
          35-min: 35%,
          40-min: 40%,
          45-min: 45%,
          50-min: 50%,
          55-min: 55%,
          60-min: 60%,
          65-min: 65%,
          70-min: 70%,
          75-min: 75%,
          80-min: 80%,
          85-min: 85%,
          90-min: 90%,
          95-min: 95%,
          100-min: 100%,
          125-min: 125%,
          150-min: 150%,
          200-min: 200%,
          250-min: 250%,
          300-min: 300%,
          350-min: 350%,
          400-min: 400%,
          450-min: 450%,
          500-min: 500%,
        )
        ),
        "max-height": (
        property: max-height,
        class: h,
        responsive: true,
        values: (
          5-p-max: 5px,
          10-p-max: 10px,
          15-p-max: 15px,
          20-p-max: 20px,
          25-p-max: 25px,
          30-p-max: 30px,
          35-p-max: 35px,
          40-p-max: 40px,
          45-p-max: 45px,
          50-p-max: 50px,
          55-p-max: 55px,
          60-p-max: 60px,
          65-p-max: 65px,
          70-p-max: 70px,
          75-p-max: 75px,
          80-p-max: 80px,
          85-p-max: 85px,
          90-p-max: 90px,
          95-p-max: 95px,
          100-p-max: 100px,
          125-p-max: 125px,
          150-p-max: 150px,
          200-p-max: 200px,
          250-p-max: 250px,
          300-p-max: 300px,
          350-p-max: 350px,
          400-p-max: 400px,
          450-p-max: 450px,
          500-p-max: 500px,



          5-max: 5%,
           10-max: 10%,
           15-max: 15%,
           20-max: 20%,
           25-max: 25%,
           30-max: 30%,
           35-max: 35%,
           40-max: 40%,
           45-max: 45%,
           50-max: 50%,
           55-max: 55%,
           60-max: 60%,
           65-max: 65%,
           70-max: 70%,
           75-max: 75%,
           80-max: 80%,
           85-max: 85%,
           90-max: 90%,
           95-max: 95%,
           100-max: 100%,
           125-max: 125%,
           150-max: 150%,
           200-max: 200%,
           250-max: 250%,
           300-max: 300%,
           350-max: 350%,
           400-max: 400%,
           450-max: 450%,
           500-max: 500%,
          )
        )
      );