.text-warning-shade-1 {
	color: #e36c2c;
}
.text-warning-shade-2 {
	color: #fcae60;
}
.text-cyan-shade-1 {
	color: #30d1c5;
}
.text-cyan-shade-2 {
	color: #189795;
}
.text-primary-shade-1 {
	color: #1d81cb;
}
.text-primary-shade-2 {
	color: #57b2ea;
}
.text-wisdom-shade-1 {
	color: #b993ef;
}
.text-wisdom-shade-2 {
	color: #8257cf;
}
.apexcharts-gridlines-horizontal {
	.apexcharts-gridline {
		&:last-child {
			display: none;
		}
	}
}
